
/*General Rules*/
html{
  box-sizing: border-box;
  font-family: 'Andale Mono', Courier,'Arial Narrow', monospace;
  margin: 0px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

header, footer{
  background-color: #6D454C;
  color: #EBBB92;
}

/*General Box-spacing formatting */

section {
  padding: 6rem 3rem;
}

/*Section Specific coloring*/
#about, #projects{
  background-color: #D7FFAB;
  color: #31465E;
}

#contact, #intro {
  background-color: #FCFF6C;
  color: #31465E;
}

/*Child element specific formating*/

#contact img{
  width: 40px;
  height: 40px;
}

h1{
  font-size: 2rem;
}
h2{
  font-size: 1.8rem;
}
h3{
  font-size: 1.5rem;
}
p{
 font-size: 1rem; 
}

/*Pseudo styling for the links in the nav*/
a:link {
  color: #EBBB92;
}
a:visited {
  color: #87d5e1;
}
a:hover {
  color: #FCEBAA;
}
a:active {
  color: #F5AAFC;
}

