
/*General Rules*/
html{
  box-sizing: border-box;
  font-family: 'Andale Mono', Courier,'Arial Narrow', monospace;
  margin: 0px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

header, footer, nav {
  background-color: #6D454C;
  color: #EBBB92;
}

/*General Box-spacing formatting*/
header, article {
  padding: 0% 2%;
  min-width: 650px; 
}

.wrapper {
  flex: 1;
  min-width: 300px;
}

/* Text formating in links and paragraphs*/
a {
  display: inline-block;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  margin: 10px;
  padding: 6px 12px;
  border-radius: 6px;
  border: 1px solid black;
}

p, ul, img {
  display: block;
}

/*Section Specific coloring*/
#about, #projects{
  background-color: #D7FFAB;
  padding: 20px;
  color: #31465E;
}

/*Child element specific formating*/
#about > img {
  max-height: 150px;
  text-align: center;
}

#contact, #intro {
  background-color: #FCFF6C;
  padding: 20px;
  color: #31465E;
}
#contact img{
  width: 40px;
  height: 40px;
}
h2, h3{
  text-align: center;
}

/*Pseudo styling for the links in the nav*/
a:link {
  color: white;
}
a:visited {
  color: #87d5e1;
}
a:hover {
  color: #FCEBAA;
}
a:active {
  color: #F5AAFC;
}

